<?xml version="1.0"?>
<launch>
    <!-- include the nodelet launch file from bebop_driver -->
    <arg name="namespace" default="bebop" />
    <arg name="ip" default="192.168.42.1" />
    <include file="$(find bebop_driver)/launch/bebop_nodelet.launch">
      <arg name="namespace" value="$(arg namespace)" />
      <arg name="ip" value="$(arg ip)" />
    </include>
    <group ns="$(arg namespace)">
       <node pkg="bebop_slam" type="bebop_slam_node" name="bebop_slam_node" output="screen"/>
    </group>
</launch>
